.text {
   text-align: center;
    padding-top:2%;
    font-size: 20px;
    // padding-left: 18%;
}

.title1{
    text-align: center;
    color: white;
}
.reservation-form{
     text-align: center;
    padding-top:4%;
    // padding-left: 18%;

}

.cont{
    box-shadow: inset 0 0 0 1000px rgba(32, 32, 32, 0.548);
    background-image: url(https://media.istockphoto.com/photos/wood-texture-table-top-with-blur-light-gold-bokeh-in-caferestaurant-picture-id1129661826?k=6&m=1129661826&s=612x612&w=0&h=nXi5KiVY7liQFbQbW4ijK-j2lubQBmtzST0yHZZXxjQ=);
    background-size: cover;
    color: white;
    border: solid 2px #C51016;
    width: 100%;
    border-radius: 10px;
    margin-top: 80px;
    padding: 60px;
}

.res-label{
    margin-right: 3%;
    margin-bottom: 5%;
    color: white;

}

.res-input{
    margin-right: 3%;
    margin-bottom: 5%;
   border-style: solid,;
   border-bottom:4px;
   border-top: unset;
   border-left: unset;
   border-right: unset;
    border-radius: 10px;
    font-size: 15px;
}

input:focus{
    outline-style:unset;
    outline-color: #C51016;
   box-shadow: 0 0 0 1pt #C51016;
   border-radius: 10px;
    
}


.mainlabel#r1, #r2 {
    width: 100px;
    height: 20px;
    font-size: 15px;
    padding: 5px;
}



.res-buttons{
    padding-top: 40px;
  justify-content: center;
  grid-column-gap: 50px;
  margin-bottom: 30px;
}


a:hover{
    color: white;
    text-decoration: none;
}


