body {
    font-family: "Trebuchet MS", sans-serif;
  width: 100vw;
  height: 100vh;
}

// *,::before,::after{
//     box-sizing: unset;
// }

.navbar {
//    position: fixed;
//    right: 15%;
    color: black;    
    .logo{
        width: 300px;
        height: 300px;      

       
    }
}

.header{
        color: #C51016;
    font-size: 20px;
    margin:40px;
}

.footer{
     margin-top: 50px;
}

.description {
  white-space: normal;
}

a {
    &:hover {
        text-decoration: none;
        color: #C51016;
        svg path{
            fill: #C51016;
        }
    }
}


// .dropdown{
//      background-color: #C51016;
// }

.titles{
    color: #C51016;
    text-align: center;
    padding-bottom: 40px;
    margin-top: -30px;
    font-family: "Trebuchet MS", sans-serif;
   font-size: 65px;
   letter-spacing: -2px;
   border-bottom: 2px solid black;
   text-transform: uppercase;
}


.icon{
    color: black;
    font-size: 25px;
}
.fas{
    color: #C51016;
}

