.text {
   text-align: center;
    padding-top:2%;
    font-size: 20px;
    // padding-left: 18%;
}

.title1{
    text-align: center;
    color: #C51016;
}

.res{
    box-shadow: inset 0 0 0 1000px rgba(32, 32, 32, 0.747);
    background-image: url(https://image.freepik.com/free-photo/wood-table-top-bokeh-coffee-shop-cafe-restaurant-background_43029-830.jpg);
    background-size: cover;
    color: white;
    // border: solid 2px #C51016;
    width: 100%;
    // border-radius: 10px;
    margin-top: 80px;
    margin-bottom:150px;
    padding: 60px;
}


.text-res{
   margin-top: 50px;
}




.text-res:focus{
    outline-style:unset;
    outline-color: #C51016;
   box-shadow: 0 0 0 1pt #C51016;
   border-radius: 2px;

    
}

.res-buttons{
    padding-top: 40px;
  justify-content: center;
  grid-column-gap: 50px;
  margin-bottom: 30px;
  
}

h1 {
    color: #C51016 !important;
}